<%- include('header') %>
    <h2 class="description">
      Admin:
    </h2>
    <div>
      <ul>
        <li><a href="/admin/categorias">Gerenciar categorias</a></li>
        <li><a href="/admin/vagas">Gerenciar vagas</a></li>
      </ul>
    </div>
<%- include('footer') %>
