<%- include('header') %>
  <h2 class="description">
      Nova Categorias:
      <a href="/admin/categorias">Categorias</a>
  </h2>

  <form method='post'>
    <label>Categoria</label>
    <input type='text' name='categoria'/>

    <button>Salvar categoria</button>
  </form>
<%- include('footer') %>
